*{
  background: rgb(115,113,145);
  background: linear-gradient(90deg, rgba(115,113,145,1) 0%, rgba(42,123,139,1) 28%, rgba(70,42,120,1) 100%);
}

.fullname{
  font-size: 30px;
  font-family: "Comic sans Ms", cursive , sans-serif ; 
  font-style:italic;
  color:white;
  text-align: center;
  margin: 100px 0px 0px 0px;
}
.address{
  font-size: 30px;
  font-family: "Comic sans Ms", cursive , sans-serif ; 
  font-style:italic;
  color:white;
  text-align: center;
  margin: 20px 0px 0px 0px;
}
